#html.html{
    background-color: blueviolet;
}
.html{
    background-color: yellow;
}

.html{
    background-color: cyan;
}


.html{
    background-color: lightgray !important;
}


li{
    background-color: red !important;
}

li{
    background-color: green;
}

li{
    background-color: blue !important;
}


/**
element selecvctor ->(0,0,1) -1
class selector ->(0,1,0) -10
id selector ->(1,0,0)
*/