ul{
    background-color: brown;
    /* position:relative; */
}

.html{
    position:absolute;
     top:10px; 
    left:10px;
    /* bottom:100px;
    right:100px */

    inset:20px;
position:unset;
}

.css{
    /* background-color: aqua; */
    position:absolute;
    top:10px;
    left:10px;
    inset:20px;
    position:inherit;
    position:unset;
}

.js{
    position:fixed;
    background-color: blueviolet;
    top:30px;
    left:30px;
}